black
flake8
flake8-docstrings
gmplot
isort
joblib
matplotlib~=3.6.2
motmetrics
mypy
numpy~=1.23.5
pandas
pillow~=9.3.0
pycocotools
pylint
pytest
scikit-image
sphinx
sphinx-rtd-theme
tabulate
toml
tqdm~=4.64.1
torch~=1.13.0
opencv-python~=4.6.0.66

git+https://github.com/scalabel/scalabel.git

pydantic~=1.10.2
torchvision~=0.14.0